{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags vintage_tags %}

{% block content %}


    <article>
        {% for block in self.body %}
            {% if block.block_type == 'heading' %}
                <h1>{{ block.value }}</h1>
            {% else %}
                <section class="block-{{ block.block_type }}">
                    {{ block }}
                </section>
            {% endif %}
        {% endfor %}
    </article>
    <audio src="/media/swing.mp3" controls id="song"></audio>

    <script>
        $('#song').hide();
        setTimeout(function(){
            $("#song")[0].play();
            $('#song').show();
        }, 1000);
    </script>

{% endblock %}
