footer
  //position: absolute
  //width: 100%
  //bottom: 0
  //left: 0

  a
    color: #9e9e9e
    text-decoration: none

header.vintage
  background-color: #ce4040
  h3
    color: white

.mdl-mega-footer
  padding: 2px 40px
  margin-top: 3em

.mdl-layout.is-upgraded
  .mdl-layout__tab.is-active::after
    background: #267c7c
    height: 4px

//h1, h2, h3, h4, h5, .mdl-layout__tab
//  color: #267c7c

//h1, h2, h3, h4, h5, .mdl-layout__tab
  //font-family: "Tangerine"
  //font-family: 'Pinyon Script', cursive
  //font-family: 'Miss Fajardose', cursive



body, html
  min-height: 100%

.mdl-textfield
  width: 560px
  textarea
    height: 150px

.mdl-layout__tab
  text-transform: none
  //font-size: 24px
